/* Mobile */
@media screen and (max-width: 576px) {
    /* --- HEADER --- */
	#title h1 {
        font-size: 20px;
    }
    .account{
        padding: 0;
    }
}

@media screen and (max-width: 876px) {
    .self-id{
        display: grid;
    }
    .create-new-message-btn{
        margin-top: 10px;
    }
    .create-new-message{
        float: left;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 992px) {
}
/* Large Desktop */
@media screen and (min-width: 1200px) {
}