@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');


/* --- GLOBAL --- */

html {
	margin: 0;
	padding: 0;
	width: 100%;
}

/* --- BODY --- */

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;}

/* --- HEADER --- */

body header {
	display: grid; 
	grid-template-columns: auto auto;
	background-color: #162229; 
	padding: 1em; 
	width: 100%;
	box-sizing: border-box;
}

#title a {
	text-align: left;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	color: black;
}
#title h1 {
	font-size: 30px;
	margin: auto;
	color: white;
	transition: color 0.5s;
}
#title h1:hover {
	color: #234f68;
}


#signup {
	text-align: right;
	margin: auto 0;
	padding: 0;
}
#signup a {
	text-decoration: none;
	color: white;
	font-family: 'Exo 2', sans-serif;
	margin: auto;
	padding: 0 0.5em 0 0.5em;
	transition: color 0.5s;
}
#signup a:hover {
	color: #234f68;
}
#signup a:first-child {
	border-right: 1px solid white;
}

#taskbar {
	text-align: right;
	margin: auto 0;
	padding: 0; 
	display: flex;
}
#taskbar div {
	width: 100%;
}
#taskbar a {
	text-decoration: none;
	color: white;
	font-family: 'Exo 2', sans-serif;
	margin: auto;
	padding: 0 0.5em 0 0.5em; 
	transition: color 0.5s;
}

#taskbar a:hover {
	color: #234f68;
}

/* --- SEARCH --- */

#search {
	display: flex;
	flex: auto;
	background-image: url(../images/background2.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#search form {
	width: 60%;
	height: 2em;
	display: flex;
	padding: 0.5em;
	background-color: white;
	margin: auto;
	border-radius: 5px;
}

#search input {
	width: 100%;
    border: 0;
	margin-left: 0.5em;
	font-family: 'Exo 2', sans-serif;
}
#search input:focus {
	outline-color: #408c99;
	outline-width: 2px;
	border-radius:5px;
}

#search button{
	display: flex;
	width: 15%;
	border-radius: 5px;
	background: #162229;
	fill: white;
	border: none;
	cursor: pointer;
	transition: background 0.5s;
}

#search button:hover {
	background: #234f68;
  }

#search svg {
	margin-left: 0.5em;
	min-height: 1.5em;
	min-width: 1.5em;
	height: 2em;
	width: 2em;
	margin: auto;
	fill: white;
}

/* #search svg:hover {
	fill: white;
} */

/* --- FOOTER --- */

footer {
	height: 3em;
	width: 100%;
	font-family: 'Exo 2', sans-serif;
	background-color: rgb(83, 83, 83);
	padding: 1em;
	bottom: 0;
	position: relative;
	box-sizing: border-box;
}

footer p {
	list-style: none;
	text-align: center;
	color: white;
	margin: auto;
}

/* ------------------------ */
/* --- Login / Register --- */
/* ------------------------ */

/* --- PAGE CONTAINER --- */

nav#content{
	flex: auto;
	display: flex;
	background-image: url(../images/background2.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

nav#content a{
	text-decoration: none;
}

nav#content form{
	margin: auto;
	width: 50%;
	background-color: rgb(255,255,255);
	font-family: 'Exo 2', sans-serif;
	padding-top: 3vw;
	padding-bottom: 3vw;
	border-radius: 0.5em;
	box-shadow: 0 0 0.8rem 0.2rem rgba(0,0,0,.2);
}

nav#content form input{
	display: block;
    font-size: 1.2em;
    margin: auto auto;
    border: 1px ridge #e1e1e1;
    border-top: white;
    border-left: white;
    border-right: white;
	width: 80%;
	border-radius: 2px;
	font-family: 'Exo 2', sans-serif;
}

nav#content form input::placeholder{
	opacity: 0.5;
}


#submit{
	background-color: rgb(33, 67, 136);
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.5s;
}

#submit:hover {
	background-color:rgb(245, 89, 71);
}

nav#content form p{
	text-align: center;
	color: rgb(33, 67, 136);
	font-weight: bold;
}

nav#content form p>a{
	text-decoration: none;
	color: rgb(0, 200, 100);
}

nav#content>form>p:first-child{
	font-size: 1.5em;
}

/* --- RESULTS --- */

#results {
	background-color: rgb(192, 240, 245);
	padding: 3em 10em;
}

.house-item li{
	list-style: none;
	color: black;
}

.description{
	padding-right: 1em;
}

.image-description{
	display: flex;
}

.image-description img{
	width: 100%;
}

.desc-info{
	display: flex;
	flex-direction: column;
	padding-left: 2em;
}

.house-info{
	display: flex;
	flex-direction: column;
}

.house-info h5{
	display: flex;
	flex-direction: row;
}

.house-info div {
	display: flex;
	flex-direction: row;
	margin-top: 1em;

}

.house-info h5 {
	margin: 0 1em 0 0;
	color: #6f7985;
}

.house-item {
	border: 1px solid #162229;
	border-radius: 0.5em;
	padding-bottom: 1em;
	color: #162229;
	background-color:#fff;
	box-shadow: 0 0 0.8rem 0.2rem rgba(0,0,0,.2);
}

.utils-btn {
	box-shadow: 0px 10px 14px -7px #162229;
	background-color:#162229;
	border-radius: 3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:0.5em 0.5em;
	text-decoration:none;
	border: 0.5px solid #162229;
	margin-top: 1em;
	margin-right: 1em;
}
.utils-btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
	border: 0.5px solid #408c99;
}
.utils-btn:active {
	position:relative;
	top:1px;
}

.postcode{
	display:flex;
	flex-direction: row;
}

.utils-btn-container{
	display: flex;
	justify-content: flex-end;
}

.results-header{
	display: grid;
	grid-template-columns: auto auto;
}

.sort-by {
    position: relative;
	display: flex;
	margin-left: auto;
    margin-bottom: 15px;
}

.sort-by h4{
	margin-right: 1em;
}

.sort-by-select {
	margin: auto;
	font-family: 'Arial';
	display: inline-block;
	width: 15em;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 0px solid #e08e9b;
	border-radius: 5px;
	background: white;
	color: black;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.sort-by-arrow {
    position: absolute;
    top: 23px;
    right: 9px;
    width: 3px;
    height: 3px;
    border: solid #ccc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.no-results-found{
	text-align: center;
    border: 1px solid #162229;
    background-color: white;
    box-shadow: 0 0 0.8rem 0.2rem rgba(0,0,0,.2);
    border-radius: 0.5em;
}

.new-search {
	text-align: center;
}

.new-search-btn{
	color: white;
	background-color: #162229;
	border-radius: 0.5em;
	width: 15%;
}

.new-search-btn:hover{
	background:linear-gradient(to bottom, rgb(245, 102, 86) 5%, rgb(245, 102, 86) 100%);
	background-color:rgb(245, 102, 86);
	border: 0.5px solid rgb(245, 102, 86);
}

/* --- ACCOUNT --- */

.account{
	display: flex;
	background-color: rgb(192, 240, 245);
	padding: 5em;
	flex: auto;
}

/* - Side Tabs Dash Board - */
.account-side-tabs{
	height: 100%;
	width: 25%;
	padding-right: 3em;
}

.account-side-tabs-wrapper{
	border-radius: 0.3em;
	color: #162229;
	background-color: rgba(0,0,0,.15);
	box-shadow: 0 0 0.8rem 0.2rem rgba(0,0,0,.2);
}

.account-side-tabs-wrapper ul{
	padding-left: 0;
	margin: 0;
}

.account-side-tabs-wrapper ul li{
	list-style: none;
	height: -webkit-fill-available;
}
.account-side-tabs-wrapper ul li:hover{
	transform: scale(1.05);
}

.account-side-tabs-wrapper button{
	width: 100%;
	padding: 1em;
	font-size: 15px;
	border-radius: 0.2em;
	text-align: left;
}

.account-side-tabs-wrapper button:focus{
	outline: none;
}

.account-side-tabs-logo{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 1em;
}

/* - Second Dash Board - */
.account-dash-board{
	border: 1px solid lightgray;
	border-radius: 0.2em;
	color: #162229;
	background-color:#fff;
	box-shadow: 0 0 0.8rem 0.2rem rgba(0,0,0,.2);
	height: 100%;
	width: 100%;
}

.account-dash-board-items{
	padding: 0;
	margin: 0;
}

.account-dash-board-title{
	padding: 1em;
	margin: 0;
}

.account-dash-board-wrapper{
	padding: 0.5em 1em;
	margin: 0;
}

.border-gray{
	border-bottom: 1px solid lightgray;
}

/* Profile */
.account-profile-wrapper-personal-information-title{
	margin: 10px 0;
	display: flex;
}
.account-profile-wrapper-personal-information-title h4{
	margin: auto auto 0 0;
}

.account-profile-wrapper-container-personal-info{
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.account-profile-wrapper-personal-info-row{
	display: flex;
}
.account-profile-wrapper-personal-info-row-element{
	display: grid;
	width: -webkit-fill-available;
}
.account-profile-wrapper-personal-info-row-element:first-child{
	margin-right: 2%;
}
.element-lable{
	padding: 1%;
	margin: 1% 0;
	border: 1px solid lightgray;
	border-radius: 0.2em;
}

.account-profile-wrapper-password-wrapper{
	display: flex;
}
.account-profile-wrapper-password-wrapper-title{
	margin: 10px 0;
}
.account-btn{
	margin: 5px 0 0 auto;
    background-color: #162229;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
	border: 0.5px solid #162229;
}
.account-btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
	border: 0.5px solid #408c99;
}
.account-btn:active {
	position:relative;
	top:1px;
}

.account-profile-img{
	display: flex;
	padding: 0.5em 0;
}

.account-profile-img img{
	height: 60px;
	width: 60px;
}

.account-profile-name-change-picture{
	display: grid;
	padding-left: 0.5em;
}

/* Portfolio */
.portfolio-wrapper{
	display: contents;
	width: 50%;
}

.image-description{
	display: grid;
	max-width: auto;
}
.image-description img{
	width: 40em;
    height: auto;
}

.add-new-btn{
	
}

/* Mail */
