@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');


/* --- GLOBAL --- */

html {margin: 0; padding: 0; background-color: lightcyan;}


/* --- BODY --- */

body {display: flex; flex-direction: column; margin: 0; padding: 0; min-height: 100vh}


/* --- PAGE CONTAINER --- */


/* --- HEADER --- */

body header {display: grid; grid-template-columns: auto auto; background-color: white; padding: 1em; }

#title a {text-align: left; text-decoration: none; font-family: 'Exo 2', sans-serif; color: black;}

#title a:hover {color: rgb(67, 128, 252);}

#title h1 {margin: 0; }

#signup {text-align: right; margin: auto 0; padding: 0; }

#signup a {text-decoration: none; color: black; font-family: 'Exo 2', sans-serif; margin: auto; padding: 0 0.5em 0 0.5em; }

#signup a:hover {color: rgb(67, 128, 252);}

#signup a:first-child {border-right: 1px solid black; }


/* --- SEARCH --- */

#search {flex: auto; padding: auto; background-image: url(../images/background2.jpeg); background-position: center; background-repeat: no-repeat; background-size: cover;}

#search form {max-width: 40em; max-height: 2em; min-width: 20em; min-height: 1.5em; display: flex; padding: 0.5em; background-color: gray; margin: auto; border-radius: 5px; position: absolute; top:0; bottom: 0; left: 0; right: 0;}

#search input {width: 100%;}

#search svg {margin-left: 0.5em; min-height: 1.5em; min-width: 1.5em; height: 2em; width: 2em; fill: black;}

#search svg:hover {fill: white;}


/* --- FOOTER --- */

footer {height: 3em; width: 100%; background-color: gray; padding: 1em; bottom: 0; position: absolute; box-sizing: border-box;}

footer p {list-style: none; text-align: center; color: white; margin: auto;}